@model MaerskLine.CMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col col-md-5">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Create an account
                    </h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Email" })
                            </div>
                            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Confirm password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" id="btnSignUp" class="btn btn-primary" style="width: 127px;">Submit</button>
                    }
                </div>
                <div class="modal-footer">
                    <small>Already a member? <a class="alreadySignUp" href="@Url.Action("Login","Account")">Login here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
